* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #e8a1dd;
}

.contenedor {
    height: 100%;
    padding: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen_principal {
    align-self: center;
}

.texto {
    text-align: center;
    font-size: xx-large;
}

.botones {
    display: flex;
    justify-content: center;
    font-size: large;
}

/* Estilos para teléfono */
@media (max-width: 767px) {
    /*.contenedor {*/
    /*    max-width: 300px;*/
    /*    margin-bottom: 5px;*/
    /*}*/
    /*.botones {*/
    /*    display: flex;*/
    /*}*/
    /*button {*/

    /*}#yesBtn,*/
    /* #noBtn {*/
    /*     position: static;*/
    /*     transform: none;*/

    /*         float: left;*/
    /*         !*margin: 0 10px;*!*/
    /*         font-size: large;*/
    /*         width: 100%;*/
    /*         max-width: 300px;*/
    /*         margin-bottom: 15px;*/
    /*         !*width: 100%;*!*/
    /* }*/



    /*.imagen_principal {*/
    /*    margin-bottom: 5px;*/

    /*    align-content: center;*/
    /*    position: static;*/
    /*    transform: none;*/
    /*    width: 80%;*/
    /*    max-width: 300px;*/
    /*}*/
    /*img {*/

    /*}*/

    p {
        font-size: large;
        margin-bottom: 5px;
    }

    .contenedor {
        padding: 5%; /* Antes era 15% */
    }

    .imagen_principal,
    .texto,
    .botones {
        margin-bottom: 10px; /* Antes 20px */
        float: left;
                 /*margin: 0 10px;*/
        font-size: large;
    }




}

@media (min-width: 768px) {

    .contenedor {
        padding: 15%;
    }

    p {
        font-size: xx-large;
    }

    .botones button {
        float: left;
        margin: 0 15px;
        font-size: xxx-large;
        width: auto;
    }


}

/*-------------------------------------------*/
/*Pruebas*/

