* {
    margin: 0;
}

.contenedor {
    background: rgb(241, 175, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

p {
    font-size: 4vw;
    margin-bottom: 2vh;
}

button {
    font-size: 4vw;
    margin-bottom: 2vh;
}

#yesBtn,
#noBtn {
    width: auto; /* Cambiar de 100% a auto para que los botones no ocupen toda la pantalla */
}

img {
    max-width: 80vw;
    margin-bottom: 2vh;
}

/* Estilos para PC */
@media (min-width: 768px) {
    .contenedor {
        text-align: center;
        padding: 15%;
    }

    p {
        font-size: xx-large;
    }

    button {
        font-size: xx-large;
    }

    #yesBtn {
        transform: translate(-100%, 0);
    }

    #noBtn {
        position: absolute;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Estilos para teléfono */
@media (max-width: 767px) {
    .contenedor {
        padding: 5%;
    }

    p {
        font-size: large;
    }

    button {
        font-size: large;
        width: 80%;
    }

    #yesBtn,
    #noBtn {
        position: static;
        transform: none;
    }

    img {
        position: static;
        transform: none;
        width: 80%;
        max-width: 300px;
    }
}

/*-------------------------------------------*/
/*Pruebas*/

