* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #e8a1dd;
}

.contenedor {
    height: 100%;
    padding: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen_principal {
    align-self: center;
}

.texto {
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
}

/* Estilos para teléfono */
@media (max-width: 767px) {
    .contenedor {
        padding: 5%;
    }

    p {
        font-size: large;
    }

    button {
        font-size: large;
        width: 80%;
    }

    #yesBtn,
    #noBtn {
        position: static;
        transform: none;
    }

    img {
        position: static;
        transform: none;
        width: 80%;
        max-width: 300px;
    }
}

/*-------------------------------------------*/
/*Pruebas*/

