* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #e8a1dd;
    /*font-family: ;*/
}

.contenedor {
    height: 100%;
    padding: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen_principal {
    align-self: center;
}

.texto {
    text-align: center;
    font-size: xx-large;
}

.botones {
    display: flex;
    justify-content: center;
    font-size: large;
}

/* Estilos para teléfono */
@media (max-width: 767px) {

    .contenedor {
        padding: 3%;
    }

    .imagen_principal,
    .texto,
    .botones {
        margin-bottom: 2px;
        float: left;
    }

    button {
        display: flex;
        font-size: 10px;
        padding: 4%;
        width: 100%;
    }

    .botones {
        display: flex;
        flex-direction: column;
    }


}

@media (min-width: 768px) {

    .contenedor {
        padding: 15%;
    }

    p {
        font-size: xx-large;
    }

    .botones button {
        float: left;
        margin: 0 15px;
        font-size: xxx-large;
        width: auto;
    }


}

/*-------------------------------------------*/
/*Pruebas*/

